.office-wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: auto; /* csak mobilon scroll */
  overflow-y: hidden;
  position: relative;
}

/* Nagy kijelző */
@media (min-width: 1200px) {
  .office-wrapper {
    overflow: hidden; /* nincs scroll */
  }

  .office-image {
    position: relative;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* teljes viewport kitöltése */
    display: block;
  }

  .clockContainer {
    position: absolute;
    /* a % a kép arányához viszonyítva */
    bottom: 80%; /* pl. a kép magasságának 20%-ánál */
    left: 83%; /* pl. a kép szélességének 75%-ánál */
    width: 10%; /* arányosan a képhez */
    aspect-ratio: 1;
  }

  .calendarContainer {
    position: absolute;
    top: 26%;
    left: 17.5%; /* vagy right: 10%; */
    width: 5%;
    aspect-ratio: 1;
  }

  .calendarImg {
    width: 100%;
    height: auto;
  }

  .phoneContainer {
    position: absolute;
    top: 54.5%;
    left: 34.5%; /* vagy right: 10%; */
    width: 6%;
    aspect-ratio: 1;
  }

  .phoneImg {
    width: 100%;
    height: auto;
  }
}

/* Mobil / kisebb képernyő */
@media (max-width: 1199px) {
  .office-image {
    position: relative;
    height: 100vh;
    width: auto; /* arányos */
    display: block;
  }

  .clockContainer {
    position: absolute;
    /* a % a kép arányához viszonyítva */
    top: 8%; /* pl. a kép magasságának 20%-ánál */
    left: 297%; /* pl. a kép szélességének 75%-ánál */
    width: 10%; /* arányosan a képhez */
    aspect-ratio: 1;
  }

  .calendarContainer {
    position: absolute;
    top: 30%;
    left: 65%; /* vagy right: 10%; */
    width: 17.5%;
    aspect-ratio: 1;
  }

  .calendarImg {
    width: 100%;
    height: auto;
  }

  .phoneContainer {
    position: absolute;
    top: 52.5%;
    left: 122%; /* vagy right: 10%; */
    width: 25%;
    aspect-ratio: 1;
  }

  .phoneImg {
    width: 100%;
    height: auto;
  }
}
